/*
 * estilos general
 * 20180728
 */

/* Espacios */
.witper-esp103{
    1border: 1px solid #0ff;
    padding: 5px;
}
.witper-esp104{
    1border: 1px solid #0ff;
    padding: 10px;
}
.witper-esp105{
    1border: 1px solid #0ff;
    padding: 15px;
}

/* Sección */
section{
	padding: 10px 0;
	min-height: 100px;
}

/* 20190928 barra latera [ini] */
body {
  1font-family: "Lato", sans-serif;
  1transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* barra latera [fin] */

/* 20211111 mensaje emergente [ini] */
.window-notice {
    background: rgba(33, 41, 52, .85);
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    transition: background .6s;
}

.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
/* 20211111 mensaje emergente [fin] */
