/*
 * estilos general
 * 20180728
 */

/* Espacios */
.witper-esp103{
    /*border: 1px solid #0ff;*/
    padding: 5px;
}
.witper-esp104{
    /*border: 1px solid #0ff;*/
    padding: 10px;
}
.witper-esp105{
    /*border: 1px solid #0ff;*/
    padding: 15px;
}
